
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Manage Stocks","Index","StockOrders")
@Html.ActionLink("Manage Crypto","Index","CryptoOrders")
@Html.ActionLink("Show Income Statement","IncomeStatement","Dashboard")

