
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Manage Stocks","Index","Stocks")
@Html.ActionLink("Manage Crypto","Index","Cryptoes")
@Html.ActionLink("Show Income Statement","IncomeStatement","Dashboard")

